#centres{

    background: #f8f3f3;
  
}

.topHeader{

    color: rgb(0, 0, 0);
}

.title, .title2, .header4, .section3{

    font-family: 'Inter', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;

    
}


.cases{


font-family: 'Inter', sans-serif;


}

.header1, .header2, .header3, .section2Text1, .section2Text2, .section2Text3, section3Text2{

font-family: 'Balsamiq Sans', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;

}
  

